/*
 * Variables
*/

@basefont-size: 12px;
@baseline: 1.5 * @basefont-size;
@inputtext-height: 30px;
@inputtext-width: 210px;

/*
 * Functions
*/

.dark-box() {
	background-color: #282D34;
	border-radius: 3px;
	box-shadow:
		0 1px rgba(255, 255, 255, .25),
		inset 0 8px 8px #22272D;
	display: block;
	margin: @baseline 0;
	padding: @basefont-size;
}

/*
 * Global
*/

body {
	background: url('images/background.png');
}

/*
 * Lists
*/

ul li {
	list-style-type: circle;
}

ol li {
	list-style-type: decimal;
}

/*
 * Forms
*/

fieldset {
	text-align: left;
}

label {
	margin: @basefont-size;
}

input[type=text], textarea {
	.dark-box;
	min-width: @inputtext-width - (@basefont-size * 2);
}

input[type=text] {
	font-weight: bold;
	height: @inputtext-height;
	padding: 0 @basefont-size;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

/*
 * Quotes
*/

blockquote {
	.dark-box;
	margin-left: @baseline;
	margin-right: @baseline;
}

blockquote p {
	margin: 0;
}