/*
 * Sprites
*/

div.checker span, div.radio span, div.selector, div.selector span, div.button, div.button span {
	background-image: url('images/sprite.png');
}

div.selector, div.selector span, div.checker span, div.radio span, div.button, div.button span {
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

/*
 * Select
*/

div.selector {
	height: 34px;
	background-position: 0 -32px;
	line-height: 34px;
	width: 15px;
}

div.selector span {
	height: 34px;
	line-height: 34px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	float: left;
	margin-left: 15px;
	padding-right: 15px;
	background-position: right -32px;
}

div.selector:hover,
div.selector.hover {
	background-position: 0px -66px;
	cursor: pointer;
}

div.selector:hover span,
div.selector.hover span {
	background-position: right -66px;
}

div.selector.focus,
div.selector:focus,
div.selector.active,
div.selector:active {
	background-position: 0px -100px;
}

div.selector.focus span,
div.selector:focus span,
div.selector.focus span,
div.selector:focus span {
	background-position: right -100px;
}

div.selector select {
	cursor: pointer;
	padding-top: 12px;
	top: 0;
	left: 0;
}

div.selector option {
	background-color: #282D34;
}

/*
 * Buttons
*/

div.button {
	height: 34px;
	background-position: 0 -32px;
	line-height: 34px;
	width: 15px;
	margin-bottom: 18px;
}

div.button span {
	height: 34px;
	line-height: 34px;
	display: block;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	float: left;
	margin-left: 15px;
	padding-right: 15px;
	background-position: right -32px;
}

div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
	background-position: 0px -66px;
	cursor: pointer;
}

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
	background-position: right -66px;
}

div.button.active,
div.button:active {
	background-position: 0px -100px;
}

div.button.active span,
div.button:active span {
	background-position: right -100px;
}

/*
 * Checker & Radio
*/

div.checker, div.radio {
	margin-bottom: 2px;
}

/*
 * Checkbox
*/

div.checker, div.checker input, div.checker span {
	width: 17px;
	height: 17px;
}

div.checker span {
	background-position: 0 0;
}

div.checker span.checked {
	background-position: -17px 0;
}

/*
 * Radio
*/

div.radio, div.radio input, div.radio span {
	width: 17px;
	height: 17px;
}

div.radio span {
	background-position: -68px 0;
}

div.radio span.checked {
	background-position: -85px 0;
}

/*
 * Core functionality
 * ---------------------------------
*/

.selector, .checker, .button, .radio, .uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
	outline: 0;
}

/*
 * Select
*/

div.selector {
	position: relative;
}

div.selector span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.selector select {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity:0);
	height: 32px;
	border: none;
	background: none;
}

/*
 * Checker
*/

div.checker {
	position: relative;
}

div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.checker input {
	opacity: 0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}

/*
 * Radio
*/

div.radio {
	position: relative;
}

div.radio span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.radio input {
	opacity: 0;
	filter: alpha(opacity:0);
	text-align: center;
	display: inline-block;
	background: none;
}