/*
 * Sprites
*/

div.checker span, div.radio span {
	background-image: url('images/sprites/checkbox.png');
}

div.uploader, div.uploader span.action, div.button, div.button span {
	background-image: url('images/sprites/sprite.png');
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

/*
 * Select
*/

div.selector, div.selector span {
	background-image: url('images/sprites/select.png');
}

div.selector {
	background-position: 0 0;
	height: 32px;
	line-height: 32px;
	width: 16px;
	
}

div.selector span {
	cursor: pointer;
	background-position: right 0;
	height: 32px;
	line-height: 30px;
	padding: 0 46px 0 3px;
	cursor: pointer;
	margin-left: 16px;
	float: left;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
	z-index: 0;
}

div.selector select {
	cursor: pointer;
	padding-top: 12px;
	top: 0;
	left: 12px;
}

div.selector option {
	background-color: #282D34;
}

div.selector:active, 
div.selector.active,
div.selector:focus,
div.selector.focus {
    background-position: 0 -32px;
}

div.selector:active span, 
div.selector.active span
div.selector:focus span,
div.selector.focus span {
    background-position: right -32px;
}

/*
 * Checker & Radio
*/

div.checker, div.radio {
	margin-bottom: 2px;
}

/*
 * Checkbox
*/

div.checker, div.checker input, div.checker span {
	width: 17px;
	height: 17px;
}

div.checker span {
	background-position: 0 0;
}

div.checker span.checked {
	background-position: -17px 0;
}

/*
 * Radio
*/

div.radio, div.radio input, div.radio span {
	width: 17px;
	height: 17px;
}

div.radio span {
	background-position: -68px 0;
}

div.radio span.checked {
	background-position: -85px 0;
}

/*
 * Uploader
*/

div.uploader {
	width: 190px;
	cursor: pointer;
}

div.uploader span.action {
	width: 85px;
	text-align: center;
	text-shadow: #fff 0px 1px 0px;
	background-color: #fff;
	font-size: 11px;
	font-weight: bold;
}

div.uploader span.filename {
	color: #777;
	width: 82px;
	border-right: solid 1px #bbb;
	font-size: 11px;
}

div.uploader input {
	width: 190px;
}

div.uploader.disabled span.action {
	color: #aaa;
}

div.uploader.disabled span.filename {
	border-color: #ddd;
	color: #aaa;
}

/*
 * Core functionality
 * ---------------------------------
*/

.selector, .checker, .button, .radio, .uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
	outline: 0;
}

/*
 * Button
*/

div.button a, div.button button, div.button input {
	position: absolute;
}

div.button {
	cursor: pointer;
	position: relative;
}

div.button span {
	display: -moz-inline-box;
	display: inline-block;
	line-height: 1;
	text-align: center;
}

/*
 * Select
*/

div.selector {
	position: relative;
	/*padding-left: 10px;*/
	/*overflow: hidden;*/
}

div.selector span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.selector select {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity:0);
	height: 32px;
	border: none;
	background: none;
}

/*
 * Checker
*/

div.checker {
	position: relative;
}

div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.checker input {
	opacity: 0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}

/*
 * Radio
*/

div.radio {
	position: relative;
}

div.radio span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.radio input {
	opacity: 0;
	filter: alpha(opacity:0);
	text-align: center;
	display: inline-block;
	background: none;
}

/*
 * Uploader
*/

div.uploader {
	position: relative;
	overflow: hidden;
	cursor: default;
}

div.uploader span.action {
	float: left;
	display: inline;
	padding: 2px 0px;
	overflow: hidden;
	cursor: pointer;
}

div.uploader span.filename {
	padding: 0px 10px;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

div.uploader input {
	opacity: 0;
	filter: alpha(opacity:0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	float: right;
	height: 25px;
	border: none;
	cursor: default;
}