/*
 * Sprites
*/

div.checker span, div.radio span, div.selector, div.selector span {
	background-image: url('images/sprite.png');
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

/*
 * Select
*/

div.selector {
	background-position: 0 -29px;
	height: 32px;
	line-height: 32px;
	width: 16px;
	
}

div.selector span {
	cursor: pointer;
	background-position: right -29px;
	height: 32px;
	line-height: 30px;
	padding: 0 46px 0 3px;
	cursor: pointer;
	margin-left: 16px;
	float: left;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
	z-index: 0;
}

div.selector select {
	cursor: pointer;
	padding-top: 12px;
	top: 0;
	left: 12px;
}

div.selector option {
	background-color: #282D34;
}

div.selector:active, 
div.selector.active,
div.selector:focus,
div.selector.focus {
    background-position: 0 -61px;
}

div.selector:active span, 
div.selector.active span
div.selector:focus span,
div.selector.focus span {
    background-position: right -61px;
}

/*
 * Checker & Radio
*/

div.checker, div.radio {
	margin-bottom: 2px;
}

/*
 * Checkbox
*/

div.checker, div.checker input, div.checker span {
	width: 17px;
	height: 17px;
}

div.checker span {
	background-position: 0 0;
}

div.checker span.checked {
	background-position: -17px 0;
}

/*
 * Radio
*/

div.radio, div.radio input, div.radio span {
	width: 17px;
	height: 17px;
}

div.radio span {
	background-position: -68px 0;
}

div.radio span.checked {
	background-position: -85px 0;
}

/*
 * Core functionality
 * ---------------------------------
*/

.selector, .checker, .button, .radio, .uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
	outline: 0;
}

/*
 * Select
*/

div.selector {
	position: relative;
}

div.selector span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.selector select {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity:0);
	height: 32px;
	border: none;
	background: none;
}

/*
 * Checker
*/

div.checker {
	position: relative;
}

div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.checker input {
	opacity: 0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}

/*
 * Radio
*/

div.radio {
	position: relative;
}

div.radio span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.radio input {
	opacity: 0;
	filter: alpha(opacity:0);
	text-align: center;
	display: inline-block;
	background: none;
}